*{
  -webkit-overflow-scrolling: touch;
}
html,body{
  scroll-behavior: smooth;
}
.aui-bar-nav{
  /* position: absolute; */
  /* position: fixed;
  z-index: 1000; */
}
.aui-row{
  line-height: 1;
  /* margin-top: 2.25rem; */
  /* padding-top: 2.25rem; */
}
.ph-scroller {
  height:100vh;
}
.head-tmp{
  height: 2.25rem;
}
.container{
  padding: 0 0.75rem;
  background: #fff;
}
.aui-toast-content {
    margin: 0.75rem 0 0.75rem;
    font-size: .6rem;
}
.aui-toast .aui-iconfont {
  font-size: 1.8rem;
}
.aui-toast {
    min-height: 3em;
}
.aui-toast-loading {
  margin: 0.75rem 0 0;
  height: 2rem;
  width: 2rem;
}

.ph-nav-gap {
  height: .75rem;
}
.ph-mr30 {
  margin-left: .75rem;
}
.ph-title-line {
  border-bottom: 1px solid #E8E8E8;
  margin-right: .75rem;
  margin-left: .75rem;
}
.ph-line {
  border-bottom: 1px solid #E8E8E8;
}

.banner_swiper {
  width:100%;
  height:auto;
}
.swiper-pagination-bullet {
  width: .5rem;
  height: .5rem;
  background:#fff;
  opacity:0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background:#fff
}
.fz18{
  font-size: .45rem;
}
.fz20{
  font-size: .5rem;
}
.fz22{
  font-size: .55rem;
}
.fz24{
  font-size: .6rem;
}
.fz26{
  font-size: .65rem;
}
.fz32{
  font-size: .8rem;
}
.fz34{
  font-size: .85rem;
}
.fz80{
  font-size: 2rem;
}
.fw{
  font-weight: 600;
}
.btn{
  width: 2.85rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  box-sizing: border-box;
  border-radius: .125rem;
}
.defaut-btn{
  color: #fff;
  background: #FC2A3E;
}
.end-btn{
  color: #666666;
  border: 1px solid;
}
.vux-no-group-title{
  margin-top: 0 !important;
}
.weui-cells{
   margin-top: 0 !important;
}
.line:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #f7f7f7;
  color: #f7f7f7;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}